DATABASE_URL=postgresql://postgres:postgres@localhost:5434/yobunny
REDIS_URL=redis://redis:6379
ELASTICSEARCH_URL=http://elastic:9200
JWT_SECRET=change-in-prod
JWT_REFRESH_SECRET=change-in-prod
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_ACCESS_KEY_ID=replace-with-b2-access-key
B2_SECRET_ACCESS_KEY=replace-with-b2-secret-key
B2_BUCKET=movia-prod
B2_REGION=us-east-005
B2_PUBLIC_BASE=https://curevia-encyclopedia-assests.b-cdn.net/
CLIENT_URL=http://localhost:3000
PORT=4000
NODE_ENV=development
FFMPEG_PATH=/usr/bin/ffmpeg

